<div id="profileContent" class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 id="username" class="d-block" style="font-size: 1.5rem; font-weight: bold"></h2>
                                <h6 id="email" class="d-block"></h6>
                                <h6 id="password" class="d-block"></h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnLogout" value="Log Out" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!--Menu of bulbs-->
            <div class="scrollmenu"></div>

            <!-- colorpicker element -->
            <div class="colorpicker" style="display:none;">
              <canvas id="picker" var="5" width="300" height="300"></canvas>

              <div class="controls">
                    <div><label>R</label> <input type="text" id="rVal" /></div>
                    <div><label>G</label> <input type="text" id="gVal" /></div>
                    <div><label>B</label> <input type="text" id="bVal" /></div>
                    <div><label>RGB</label> <input type="text" id="rgbVal" /></div>
                    <div><label>HEX</label> <input type="text" id="hexVal" /></div>
                    <div><label>Time</label> <input type="text" id="time" /></div>
                </div>
            </div>
        </div>
    </div>
</div>