<div id="profileContent" class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="heading">
                                <h1>Welcome to Your Profile</h1>
                            </div>
                            <div class="userData ml-3">
                                <h1 id="username" class="d-block" style="font-size: 1.5rem; font-weight: bold"></h1>
                                <h6 id="email" class="d-block"></h6>
                                <h6 id="password" class="d-block"></h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="logoutBtn" value="Log Out" />
                            </div>
                            <input type="number" id="bulbCount" name="register" placeholder="Bulb Count">
                            <input type="button" class="btn btn-primary d-none" id="changeBulbBtn" value="Change" />
                        </div>
                    </div>
                </div>
            </div>


            <!--Menu of bulbs-->
            <div class="scrollmenu"></div>

            <!-- colorpicker element -->
            <div class="colorpicker" style="display:none;">
                <canvas id="picker" var="5" width="300" height="300"></canvas>

                <div class="controls">
                    <div><label>R</label> <input type="text" id="rVal" /></div>
                    <div><label>G</label> <input type="text" id="gVal" /></div>
                    <div><label>B</label> <input type="text" id="bVal" /></div>
                    <div><label>RGB</label> <input type="text" id="rgbVal" /></div>
                    <div><label>HEX</label> <input type="text" id="hexVal" /></div>
                    <div><label>Time</label> <input type="number" id="time" /></div>
                    <div class="slidecontainer">
                        <label>Brightness: </label><label id="brightnessVal"></label>
                        <br>
                        <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
                    </div>
                </div>
            </div>
            <div class="commands">
                <input type="text" id="bulbRange" name="bulbRange" placeholder="Bulb Range">
                <input type="text" id="effectName" name="effectName" placeholder="Effect Name">
                <input type="text" id="configName" name="configName" placeholder="Config Name">
                <br>
                <input type="button" class="btn btn-primary d-none" id="applyConfigBtn" value="Apply Config" />
                <input type="button" class="btn btn-primary d-none" id="saveConfigBtn" value="Save Config" />
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editConfigModal" tabindex="-1" role="dialog" aria-labelledby="editConfigModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editConfigModalLabel">Edit Configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
