<div id="profileContent" class="container p-3">
    <div class="card">
        <h4 class="card-header">Profile</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">Name</div>
                <div id="name" class="col"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Username</div>
                <div id="username" class="col"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Email</div>
                <div id="email" class="col"></div>
            </div>
        </div>
    </div>
</div>
