<div class="wrapper fadeInDown">
	<div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
		<div class="pt-5 fadeIn first">
      		<h2>Register</h2>
    	</div>

    <!-- Registration Form -->
    	<form id='loginForm'>
			<input type="text" id="name" class="fadeIn third" name="register" placeholder="Name">
      		<input type="text" id="username" class="fadeIn second" name="register" placeholder="User name">
      		<input type="text" id="email" class="fadeIn second" name="register" placeholder="User email">
      		<input type="text" id="password" class="fadeIn third" name="register" placeholder="Password">

         	<p id='errormsg'></p>
    	</form>

    <!-- Log In -->
    	<div id="formFooter">
    		<a id="registerBtn" class="underlineHover">Register</a>
    	</div>
    </div>
</div>
