<div class="wrapper fadeInDown">
	<div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
		<div class="fadeIn first">
      		<h1>Register</h1>
    	</div>

    <!-- Registration Form -->
    	<form id='registerForm'>
      		<input type="text" id="username" class="fadeIn second" name="register" placeholder="User Name">
      		<input type="text" id="email" class="fadeIn second" name="register" placeholder="User Email">
      		<input type="text" id="password" class="fadeIn third" name="register" placeholder="Password">
     		 <input id="registerBtn" type="button" class="fadeIn fourth" value="Register">
         <p id='errormsg'></p>
    	</form>

    <!-- Log In -->
    	<div id="formFooter">
    		<a class="underlineHover">Register</a>
    	</div>
    </div>
</div>